@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter';
  src: url("../../fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

.page {
  font-family: 'Inter';
  max-width: 1280px;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;
  }
 }

 @media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
  }
 }
