.cover {
  max-width: 1184px;
  height: 740px;
  margin: 0;
  margin: auto;
  padding-top: 102px;
}

@media screen and  (max-width : 1024px) {
  .cover {
    max-width: 1024px;
    max-height: 640px;
    padding-top: 100px;
  }
}
@media screen and (max-width : 768px) {
  .cover {
    max-width: 768px;
    max-height: 480px;
    padding-top: 90px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    max-height: 200px;
    padding-top: 66px;
  }
}

