.cover__background{
  min-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  z-index: 0;
}

.cover__background::before {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: #2A2C2F;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.cover__background:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
 .cover__background {
   min-height: 640px;
 }
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    min-height: 200px;
  }
}


