.cover__title {
  font-family: 'Inter', sans-serif, Arial;
  max-width: 560px;
  text-align: center;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #FFFFFF;
  z-index: 2;
}

@media screen and (max-width: 768px) {
 .cover__title {
  font-size: 9.375vw;
 }
}
@media screen and (max-width: 320px) {
  .cover__title{
    font-size: 32px;
    max-height: 70px;
    line-height: 109%;
    max-width: 288px;
  }
}
